################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/installer/Release
/installer/Debug
/installer/.vs/installer/v16
/makezip/Debug
/makezip/Release
/uninstall/Debug
/build/Debug
/usetest/Debug
/installer_src/installer
/make_instaler_zip_src/Debug
/.vs/installer/v16
/Debug
/installer/build/Debug
/installer/installer/.vs/installer/v16
/installer/installer/Debug
/installer/make_instaler_zip_src/Debug
/installer/make_instaler_zip_src/Release
/installer/make_install_zip/Debug
/installer/uninstall/Debug
/installer/uninstall/Release
/Release
/installer/make_install_zip/Release
/installer/installer_debug/Debug
/installer/build/Release
/installer/installer/Release
/installer/installer_debug/Release
/installer/installer_src/installer
