################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/installer/Release
/installer/Debug
/installer/.vs/installer/v16
/makezip/Debug
